/* imported fonts from google */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* header section styles */

header {
  padding: 5.44rem 7.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-menu a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}

.icon {
  font-size: 1.5em;
  cursor: pointer;
}
